<launch>
    <arg name="drone_id" value="0"/>
    <arg name="map_size_x" value="50"/>
    <arg name="map_size_y" value="50"/>
    <arg name="map_size_z" value="3.0"/>
    <arg name="odom_topic" value="/vins_fusion/imu_propagate"/>
    <!--<arg name="odom_topic" value="/mavros/local_position/odom"/>-->

    <!-- main algorithm params -->
    <include file="$(find ego_planner)/config/d435i.xml">
        <arg name="drone_id" value="$(arg drone_id)"/>
        <arg name="map_size_x_" value="$(arg map_size_x)"/>
        <arg name="map_size_y_" value="$(arg map_size_y)"/>
        <arg name="map_size_z_" value="$(arg map_size_z)"/>
        <arg name="odometry_topic" value="$(arg odom_topic)"/>

        <!--<arg name="camera_pose_topic" value="null"/>-->
        <arg name="depth_topic" value="/camera/depth/image_ret_raw"/>

        <!--<arg name="cloud_topic" value="null"/>-->

        <!-- intrinsic params of the depth camera -->
        <arg name="cx" value="323.3316345214844"/>
        <arg name="cy" value="234.95498657226562"/>
        <arg name="fx" value="384.39654541015625"/>
        <arg name="fy" value="384.39654541015625"/>

        <!-- maximum velocity and acceleration the drone will reach -->
        <arg name="max_vel" value="1.3" />
        <arg name="max_acc" value="2.0" />
        
        <!--always set to 1.5 times grater than sensing horizen-->
        <arg name="planning_horizon" value="5.0" />
        <!-- 1: use 2D Nav Goal to select goal  -->
        <!-- 2: use global waypoints below  -->
        <arg name="flight_type" value="1" />
        <!-- global waypoints -->
        <!-- It generates a piecewise min-snap traj passing all waypoints -->
        <arg name="point_num" value="1" />
        <arg name="point0_x" value="15" />
        <arg name="point0_y" value="0" />
        <arg name="point0_z" value="1" />
        <arg name="point1_x" value="0.0" />
        <arg name="point1_y" value="0.0" />
        <arg name="point1_z" value="1.0" />
        <arg name="point2_x" value="15.0" />
        <arg name="point2_y" value="0.0" />
        <arg name="point2_z" value="1.0" />
        <arg name="point3_x" value="0.0" />
        <arg name="point3_y" value="0.0" />
        <arg name="point3_z" value="1.0" />
        <arg name="point4_x" value="15.0" />
        <arg name="point4_y" value="0.0" />
        <arg name="point4_z" value="1.0" />
        <arg name="use_distinctive_trajs" value="false" />
        <arg name="obj_num_set" value="0" />
    </include>
    <!-- trajectory server -->
    
    <node pkg="ego_planner" name="traj_server" type="traj_server" output="screen">
        <!-- <remap from="position_cmd" to="/setpoints_cmd"/> -->
        <remap from="/planning/bspline" to="/planning/bspline"/>
        <remap from="/position_cmd" to="/planner_cmd"/>
        <param name="traj_server/time_forward" value="1.0" type="double"/>
    </node>

    <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
    <remap from="~odom" to="$(arg odom_topic)"/>
    <remap from="~goal" to="/move_base_simple/goal"/>
    <remap from="~traj_start_trigger" to="/traj_start_trigger"/>
    <param name="waypoint_type" value="manual-lonely-waypoint"/>
    
    </node>
    
    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
    
    <remap from="~odom" to="$(arg odom_topic)"/>
    <param name="color/a" value="1.0"/>
    <param name="color/r" value="0.0"/>
    <param name="color/g" value="1.0"/>
    <param name="color/b" value="0.0"/>
    <param name="covariance_scale" value="100.0"/>
    <param name="robot_scale" value="1.0"/>
    <param name="tf45" value="false"/>
    
    </node>


    <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_to_base_link" args="0.0 0 0.0 0.0 0 0.0 world base_link 100"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/rivz/d435i.rviz" required="true" />

  
</launch>
